// Base layout
//
// Markup: ../../prototype/template/layout/base.html
//
// Styleguide base
body {
  background: tomato;
  font-size: 2em;
}

// Paragraph
//
// Markup:
// <p>Paragraph styling</p>
//
// Styleguide base.paragraph
p {
  color: inherit;
}
